@{
    ViewData["Title"] = "Organismos";
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/js/organismosController.js")"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
}

<div>
    <div class="text-center imp-file">
        <div class="mb-3">
            <input class="form-control" type="file" id="formFile">
        </div>
        <button id="importButton" type="button" class="btn btn-sm btn-dark" onclick="validarArchivo()">
            <span id="textButton">Importar CSV</span>
            <div id="loadingButton" style="display:none"  class="spinner-border spinner-border-sm text-light" role="status">
                <span class="sr-only"></span>
            </div>
        </button>
    </div>
    <div id="msg" class="text-center error"></div>
    <div id="tableContainer" class="text-center mt-3"></div>
</div>